{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/page_about.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/fade.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}


{% block nav-about %}
<span class="nav-link">About</span>
{% endblock %}


{% block header %}
{{ block.super }}
{% endblock %}


{% block content %}
<div id="about_parallax" class="parallax-window parallax-spacer" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/about_bg.jpg' %}">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4 pt-4">
        <div id="ccs_summary" class="mx-4">
            <p class="text-center fade-in">
                CCS began as a test project back in the summer of 2019, hoping to transform the amateur landscape for players across the board. Back after a long hiatus, the CCS now has the manpower, infrastructure, and drive needed to return once more. Our goal remains the same, create the best league possible for players of all elos. We strive to provide a league that is fair, competent, and competitive.
            </p>
        </div>
    </div>
</div>

<div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4 pt-4">
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
</div>

{% endblock %}


{% block footer %}
{{ block.super }}
{% endblock %}


{% block bottom_script %}
{% endblock %}