{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}

{% block nav-about %}
<span class="nav-link">About</span>
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}


{% block content %}
<div id="pantheon_parallax" class="parallax-window" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/pantheon_splash.jpg' %}">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4 pt-4">
        <p> hello inside of parallax bg 1</p>
        <p> hello inside of parallax bg 2</p>
        <p> hello inside of parallax bg 3</p>
        <p> hello inside of parallax bg 4</p>
        <p> hello inside of parallax bg 5</p>
        <p> hello inside of parallax bg 6</p>
        <p> hello inside of parallax bg 7</p>
        <p> hello inside of parallax bg 8</p>
        <p> hello inside of parallax bg 9</p>
        <p> hello inside of parallax bg 10</p>
        <p> hello inside of parallax bg 11</p>
    </div>
</div>

<div class="w-100"></div>

<div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4 pt-4">
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
</div>

{% endblock %}


{% block footer %}
<p> hello footer </p>
{% endblock %}