{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/page_about.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/fade.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}


{% block nav-about %}
active
{% endblock %}


{% block header %}
<div id="about_parallax" class="parallax-window parallax-spacer" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/about_bg.jpg' %}">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-auto px-md-4 pt-4">
        <div id="ccs_summary" class="mx-4">
            <p class="text-center fade-in">
                CCS began as a test project back in the summer of 2019, hoping to transform the amateur landscape for players across the board. Back after a long hiatus, the CCS now has the manpower, infrastructure, and drive needed to return once more. Our goal remains the same, create the best league possible for players of all elos. We strive to provide a league that is fair, competent, and competitive.
            </p>
            <br>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-auto px-md-4 pt-4">
    <div id="ccs_support" class="mx-4">
        <p class="text-center fade-in">
            We have a few ways to support the league if you choose to.
        </p>
        <p class="text-center fade-in">
            If you do, we will feature you in a special donor role (if you would like us to), discuss with you how that money will be spent for the betterment of the league, and invite you to have a donor/admin meeting at some point to express our thanks and talk to you about the league you support. 
        </p>
        <p class="text-center fade-in">
            You can support the league through PayPal donation, Patreon subscription, or Twitch subscription!
        </p>
        <br>
        <div class="d-flex justify-content-center fade-in">
            <a href="https://paypal.me/classicseries" class="mx-5">
                <img alt="PayPal" src="{% static 'assets/paypal_logo_about.png' %}" height="128">
            </a>
            <a href="https://www.patreon.com/ccs_lol" class="mx-5">
                <img alt="Patreon" src="{% static 'assets/patreon_logo_about.png' %}" height="128">
            </a>
            <a href="https://www.twitch.tv/ccs_lol" class="mx-5">
                <img alt="Twitch" src="{% static 'assets/twitch_logo_about.png' %}" height="128">
            </a>
        </div>
        <br>
        <p class="text-center fade-in">
            We appreciate all donations! If you do donate, please let us know.
        </p>
    </div>
</div>

{% endblock %}


{% block footer %}
{{ block.super }}
{% endblock %}


{% block bottom_script %}
{% endblock %}