{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}


{% block nav-game %}
active
{% endblock %}
{% block nav-standings %}
active
{% endblock %}


{% block header %}
<div id="blog_parallax" class="parallax-window parallax-spacer" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/about_bg.jpg' %}"></div>
{% endblock %}


{% block content %}

<div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-auto px-md-4 pt-4">
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
</div>

{% endblock %}


{% block footer %}
{{ block.super }}
{% endblock %}


{% block bottom_script %}
{% endblock %}