<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Icons -->

        <!-- Fonts -->
        {% block fonts %}{% endblock %}

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block style %}{% endblock %}

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        }
        </script>
        {% block script %}{% endblock %}
        {% block navbar %}{% endblock %}

        <!-- Page Title -->
        <title>
            {% block title %}CCS LoL{% endblock %}
        </title>
    </head>

    <body>

        <div id="page-container">
            <div class="container-fluid">

                <hr>

                <!-- Page Header -->
                <div class="row">
                    <!-- Header Body -->
                    <div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4">
                        {% block header %}

                        {% endblock %}
                    </div>
                </div>

                <hr>
            
                <!-- Page Content -->
                <div class="row">
                    <!-- Content Body -->
                    <main role="main" class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4">
                        {% block content %}

                        {% endblock %}
                    </main>
                </div>

            </div>
        </div>

        <hr>

        <footer id="footer">
            <div class="container-fluid">
                
                <!-- Page Footer -->
                <div class="row">
                    <!-- Footer Body -->
                    <div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4">
                        {% block footer %}

                        {% endblock %}
                    </div>
                </div>

            </div>
        </footer>

    </body>

</html>