{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/page_blog.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}


{% block nav-blog %}
active
{% endblock %}


{% block header %}
<div id="blog_parallax" class="parallax-window parallax-spacer" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/about_bg.jpg' %}"></div>
{% endblock %}


{% block content %}
<div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-auto px-md-4 pt-4">
    <div id="article-list">
        {% for article in articles %}
        <div class="article-post">
            <h5 class="article-title">
                <a href="{% url 'page_blog:view_article' article_id=article.id %}">{{ article.title }}</a>
            </h5>
            <p class="article-post-details">
                {{ article.date_posted|date:"F j, o, g:i A" }} | {{ article.author }}
            </p>
        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    <nav>
        <ul class="pagination">
            <li class="page-item
                       {% if page_current <= 1 %}
                       disabled
                       {% endif %}
                       ">
                <a class="page-link" href="{% url 'page_blog:root' %}?page={{ page_current|add:"-1" }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in page_range %}
            <li class="page-item 
                       {% if i == page_current %}
                       active
                       {% endif %}
                       ">
                <a class="page-link" href="{% url 'page_blog:root' %}?page={{ i }}">
                    {{ i }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item
                       {% if page_current >= page_max %}
                       disabled
                       {% endif %}
                       ">
                <a class="page-link" href="{% url 'page_blog:root' %}?page={{ page_current|add:"1" }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
      </nav>
</div>

{% endblock %}


{% block footer %}
{{ block.super }}
{% endblock %}


{% block bottom_script %}
{% endblock %}