@charset "utf-8";
/* CSS Document */

.nav-font {
    font-family: "Bebas Neue";
    font-size: 32px;
}

/* Navbar when at top */
#page-navbar.base {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

/* Currently Active Link */
#page-navbar.base .nav-item span {
    text-decoration: none;
    color: black;
    transition: .4s;
    user-select: none;
    border: solid;
    border-width: 0px 0px 1px;
    border-color: orange;
}

/* Accessible Link */
#page-navbar.base .nav-item a {
    text-decoration: none;
    color: black;
    transition: .4s;
    user-select: none;
}

/* Accessible Link, Hovered */
#page-navbar.base .nav-item a:hover {
    text-decoration: none;
    color: maroon;
    transition: .4s;
    user-select: none;
}


/* Navbar after scrolled a bit */
#page-navbar.scrolled {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    border: solid;
    border-width: 0px 0px 1px;
    border-color: #DDD;
    box-shadow: none;
}