@charset "utf-8";
/* CSS Document */

/* Mobile browsing! */
@media screen and (max-width: 767px)
{
    #page-navbar .mobile-padding {
        padding: 0;
    }

    #page-navbar .navbar-toggler {
        margin-right: 1rem;
        box-shadow: none;
    }

    #page-navbar .navbar-toggler:focus {
        box-shadow: 0 0 0 0.1rem;
    }
}

html {
    overflow-y: scroll;
    min-height: 100%;
}

body {
    background-color: #fff;
    position: relative;
    min-height: 100vh;
    padding-bottom: 9rem;
}

a {
    text-decoration: none;
}

.footer-link {
    margin: 0 20px 0;
    color: darkslategray;
    text-decoration: none;
}

.staff-status {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 5px;
    color: white;
    background-color: maroon;
    z-index: 9999;
}

#footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding: 1rem 0 0;
    border: solid;
    border-width: 1px 0px 0px;
    border-color: #DDD;
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}