@charset "utf-8";
/* CSS Document */

/* Makes sure navbar does not push content down */
@media screen and (max-width: 767px)
{
    #page-navbar.base .navbar-collapse {
        position: absolute !important;
        max-height: none !important;
        z-index: 20;
        width: 100%;
        top: 100px;
    }
    
    #page-navbar.base .navbar-toggler {
        color: rgba(255,255,255,.55);
        border-color: rgba(255,255,255,.1);
    }
}

/* Navbar when at top */
#page-navbar.base {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    transition: .2s;
}

#page-navbar.base .nav-font {
    font-family: "Bebas Neue";
    font-size: 32px;
}

#page-navbar.base #nav-logo {
    max-width: 100%;
    height: 90px;
    box-sizing: border-box;
    object-fit: contain;
    transition: .2s;
}

/* Currently Active Link */
#page-navbar.base .nav-item span {
    text-decoration: none;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: white;
    padding-top: 14px;
    user-select: none;
    transition: .2s;
}

/* Accessible Link */
#page-navbar.base .nav-item a {
    text-decoration: none;
    color: white;
    padding: 15px 0 1px;
    user-select: none;
    transition: .2s;
}

/* Accessible Link, Hovered */
#page-navbar.base .nav-item a:hover {
    text-decoration: none;
    color: maroon;
    user-select: none;
    transition: .2s;
}
