@charset "utf-8";
/* CSS Document */

.article-title {
    font-family: "Kaisei HarunoUmi";
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.article-post-details {
    margin-bottom: 1.25rem;
    color: #727272;
}

.article-content {
    font-family: "Raleway";
}