{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}


{% block nav-home %}
<span class="nav-link">Home</span>
{% endblock %}


{% block header %}
{{ block.super }}
{% endblock %}


{% block content %}
<div id="pantheon_parallax" class="parallax-window parallax-spacer" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/pantheon_splash.jpg' %}">
    <div class="w-100 pt-5"></div>
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-auto px-md-4 pt-4">
        <!-- Add a placeholder for the Twitch embed -->
        <div id="twitch-embed"></div>
    </div>
</div>

<div class="w-100"></div>

<div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-auto px-md-4 pt-4">
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
</div>
{% endblock %}


{% block footer %}
{{ block.super }}
{% endblock %}


{% block bottom_script %}
<!-- Load the Twitch embed JavaScript file -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
<script type="text/javascript">
    new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: 480,
        layout: "video",
        channel: "ccs_lol",
        muted: true
    });
</script>
{% endblock %}