{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}

{% block nav-home %}
<span class="nav-link">Home</span>
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}


{% block content %}
<div id="pantheon_parallax" class="parallax-window" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/pantheon_splash.jpg' %}"></div>

<div class="col-xl-7 col-lg-8 col-md-9 col-11 mx-sm-auto px-md-4 pt-4">
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
    <p> hello body </p>
</main>

{% endblock %}


{% block footer %}
<p> hello footer </p>
{% endblock %}