{% extends "page_base.html" %}
{% load static %}


{% block fonts %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap" rel="stylesheet">
{% endblock %}


{% block style %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'styles/parallax.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'styles/page_home.css' %}">
{% endblock %}


{% block script %}
{{ block.super }}
{% endblock %}


{% block title %}
{{ block.super }}
{% endblock %}


{% block nav-home %}
active
{% endblock %}


{% block header %}
<div id="pantheon_parallax" class="parallax-window parallax-spacer" data-speed="0.3" data-parallax="scroll" data-image-src="{% static 'assets/pantheon_splash.jpg' %}">
    <div id="home-slogan" class="mx-auto">
        <div style="height:35vh;"></div> <!-- Dummy temp spacer -->
        THE ESPORTS EXPERIENCE FOR EVERYONE
    </div>
</div>
{% endblock %}


{% block content %}
<div id="home-article" class="col-xl-7 col-lg-8 col-md-9 col-11 mx-auto px-md-4 p-4">
    {% if most_recent_article is not None %}
    <a href="{% url 'page_blog:view_article' article_id=most_recent_article.id %}">
        <h3 class="article-title">
            {{ most_recent_article.title }}
        </h3>
    </a>
    <p class="article-post-details">
        {{ most_recent_article.date_posted|date:"F j, o, g:i A" }} | {{ most_recent_article.author }}
    </p>
    <div class="article-content">
        {{ most_recent_article.content|safe }}
    </div>
    {% endif %}
</div>
{% endblock %}


{% block footer %}
{{ block.super }}
{% endblock %}


{% block bottom_script %}
{% endblock %}